<div class="quick-review">
    <img class="quick-review-icon" src="/img/shared/reviews/{{imageName}}" loading="lazy" alt="{{imageAlt}}">
    <p>{{name}}</p>
    <p>{{title}}</p>
    <p>{{text}}</p>
</div>