<div class="quick-review carousel-item {{active}} container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="quick-review-icon bordered-img" src="/img/shared/reviews/{{imageName}}" alt="{{imageAlt}}">

            <p class="text-center px-3">{{name}}</p>
            <p class="text-center px-3">{{title}}</p>

        </div>
        <div class="col-12 col-md-5 quick-review-text">
            <p class="text-center">"{{text}}"</p>
        </div>
    </div>
</div>